@font-face {
	font-family: 'icomoon';
	src: url("../fonts/icons/icomoon.eot?n1siqs");
	src: url("../fonts/icons/icomoon.eot?n1siqs#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?n1siqs") format("truetype"), url("../fonts/icons/icomoon.woff?n1siqs") format("woff"), url("../fonts/icons/icomoon.svg?n1siqs#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}


[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
.icon-pause-button:before {
    content: "\e905";
}

.icon-stop-button:before {
    content: "\e900";
}

.icon-btn-play-filled:before {
    content: "\e904";
}

.icon-heartShape:before {
    content: "\e901";
}

.icon-Menubutton:before {
    content: "\e902";
}

.icon-playBtn:before {
    content: "\e903";
}
*/

.icon-heart-with-social-media-facebook-logo:before {
	content: "\e904";
}

.icon-playBtnFilled:before {
	content: "\e903";
}

.icon-heartShape:before {
	content: "\e900";
}

.icon-Menubutton:before {
	content: "\e901";
}

.icon-playBtn:before {
	content: "\e902";
}