html,
body,
.freeangola {
    width: 100%;
    height: 100%;
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

button {
    border: none;
    @include transition(all 0.2s);
}

.freeangola {
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    header {
        width: 100%;
        height: $common-navbar-height;
        border-bottom: 2px solid #000;
        /* Bar: */
        background: #C32F27;
        position: relative;
        box-shadow: $common-box-shadow;
        position: relative;
        z-index: 100;
        h1 {
            padding-left: 80px;
            text-align: left;
            line-height: $common-navbar-height;
            color: $yellow-gold;
            letter-spacing: 2px;
            font-weight: bold;
        }
        .logo {
            text-indent: -9999px;
            width: 35px;
            height: 35px;
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border: 1px solid #000;
            border-radius: 50%;
            background-image: url(../img/logo-peace-dove.svg?201602201217);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            @include transform(translateY(-50%) translateX($common-margin-lr));
        }
        .menu {
            overflow: hidden;
            cursor: pointer;
            background: transparent;
            font-size: 60px * 0.7;
            width: 56px * 0.7;
            height: 44px * 0.7;
            position: absolute;
            top: 50%;
            right: 0;
            opacity: 1;
            @include transform(translateY(-50%) translateX(-$common-margin-lr));
            &:before {
                position: relative;
                top: -2px;
                left: -12px;
            }
            &:hover {
                color: $yellow-gold;
            }
        }
    }
    .main-poster {
        width: 100%;
        height: 300px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-color: #000;
        img {
            position: absolute;
            margin: auto;
            width: auto;
            height: 100%;
            left: -100%;
            right: -100%;
        }
    }
    .player-controllers {
        width: 100%;
        height: 180px;
        background: #C32F27;
        position: relative;
        z-index: 99;
        box-shadow: $common-box-shadow;
        &:before,
        &:after {
            content: " ";
            height: 2px;
            width: 100%;
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:after {
            top: auto;
            bottom: 0;
        }
        .valign {
            width: 100%;
            top: calc(50% - 5px);
            left: 50%;
            position: absolute;
            @include transform(translateY(-50%) translateX(-50%));
        }
        .song-title {
            font-size: 20px;
            line-height: 20px;
            margin: 10px 0;
            color: $yellow-gold;
            text-align: center;
            font-size: 14px;
            letter-spacing: 3px;
        }
        .options {
            width: 215px;
            height: 100px;
            margin: 0 auto;
            > button {
                float: left;
                background: transparent;
            }
            .play {
                border-radius: 50%;
                border: 3px solid #000;
                width: 75px;
                height: 75px;
                background-color: $yellow-gold;
                position: relative;
                text-indent: 0;
                top: 50%;
                margin: 0 25px 0 30px;
                @include transform(translateY(-50%));
                &[data-status="playing"] {
                    &:after {
                        content: " ";
                        background-image: url(../img/btn-play-filled.svg?201602191714);
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 50%;
                        left: calc(50% + 3px);
                        @include transform(translateX(-50%) translateY(-50%));
                        content: " ";
                        background-size: 56px * 0.6;
                        width: 56px * 0.6;
                        height: 60px * 0.6;
                        display: block;
                        color: #000;
                    }
                }
            }
            .previous,
            .next {
                width: 42px;
                height: 30px;
                display: block;
                text-indent: -9999px;
                background-position: center center;
                background-size: contain;
                background-image: url(../img/btn-previous.svg?2016021916146);
                background-repeat: no-repeat;
                position: relative;
                top: 50%;
                @include transform(translateY(-50%));
            }
            .next {
                background-image: url(../img/btn-right.svg?2016021916146);
            }
        }
    }
    .song-list {
        overflow: hidden;
        ul {
            li {
                position: relative;
                height: 150px;
                background-color: $red-dark;
                cursor: pointer;
                @include transition(background-color 0.2s);
                &:nth-child(odd) {
                    background-color: $red;
                }
                &:hover {
                    background-color: $yellow-gold;
                    .details {
                        color: $red;
                    }
                }
            }
        }
        .artist-poster {
            width: 150px;
            height: 150px;
            float: left;
            margin-right: 30px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .details {
            color: $yellow-gold;
            top: 50%;
            left: 180px;
            @include transform(translateY(-50%));
            overflow: hidden;
            position: absolute;
            width: calc(100% - 180px - 194px);
            p {
                letter-spacing: 2px;
                line-height: 24px;
                font-size: 18px;
                font-weight: lighter;
            }
            h4 {
                letter-spacing: 4px;
                line-height: 33px;
                font-size: 24px;
                font-weight: bold;
            }
        }
        .options {
            position: absolute;
            top: 50%;
            right: 0;
            margin: 0 20px;
            @include transform(translateY(-50%));
        }
        .like,
        .play {
            font-size: 60px;
            width: 75px;
            height: 60px;
            background-color: transparent;
            &.active {
                color: $yellow-gold;
            }
        }
        .play {
            width: 65px;
            margin-left: 20px;
        }
    }
    .percentage-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background: purple;
        }
    }
}

@media only screen and (min-device-width: 1024px) {
    .freeangola {
        main {
            > .column {
                float: left;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-device-width: 768px) {}

@media only screen and (max-device-width: 480px) {
    .freeangola {
        .col-r {
            transform: translateY(-50%);
            position: relative;
            top: 50%;
        }
        .song-list {
            .options {
                position: relative;
                top: auto;
                right: 2px;
                padding: 0;
                margin: 0;
                @include transform(translateY(0));
                button {
                    width: 75px * 0.5;
                    height: 60px * 0.5;
                    font-size: 60px * 0.5;
                    display: inline-block;
                    padding: 0;
                    margin-right: 5px;
                }
                .play {
                    margin-left: 0px;
                }
            }
            .details {
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                width: auto;
                padding: 0;
                padding-right: $common-margin-lr;
                margin: 0;
                margin-bottom: 10px;
                @include transform(translateY(0));
                p {
                    font-weight: normal;
                    letter-spacing: 2px * 0.6;
                    line-height: 24px * 0.6;
                    font-size: 18px * 0.6;
                }
                h4 {
                    letter-spacing: 4px * 0.5;
                    line-height: 33px * 0.5;
                    font-size: 24px * 0.5;
                }
            }
        }
    }
}
