/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icons/icomoon.eot?n1siqs");
  src: url("../fonts/icons/icomoon.eot?n1siqs#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?n1siqs") format("truetype"), url("../fonts/icons/icomoon.woff?n1siqs") format("woff"), url("../fonts/icons/icomoon.svg?n1siqs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heartShape:before {
  content: "\e900"; }

.icon-Menubutton:before {
  content: "\e901"; }

.icon-playBtn:before {
  content: "\e902"; }

.icon-playBtnFilled:before {
  content: "\e903"; }

html, body, .freeangola {
  width: 100%;
  height: 100%; }

textarea:focus, input:focus {
  outline: none; }

*:focus {
  outline: none; }

button {
  border: none;
  -webkit-transition: all 0.2s;
  -khtml-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.freeangola {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif; }
  .freeangola header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #000;
    /* Bar: */
    background: #C32F27;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 100; }
    .freeangola header .logo {
      text-indent: -9999px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #000;
      background: #000;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%) translateX(30px);
      -khtml-transform: translateY(-50%) translateX(30px);
      -moz-transform: translateY(-50%) translateX(30px);
      -ms-transform: translateY(-50%) translateX(30px);
      -o-transform: translateY(-50%) translateX(30px);
      transform: translateY(-50%) translateX(30px); }
    .freeangola header .menu {
      overflow: hidden;
      cursor: pointer;
      background: transparent;
      font-size: 60px;
      width: 56px;
      height: 44px;
      position: absolute;
      top: 50%;
      right: 0;
      opacity: 1;
      -webkit-transform: translateY(-50%) translateX(-30px);
      -khtml-transform: translateY(-50%) translateX(-30px);
      -moz-transform: translateY(-50%) translateX(-30px);
      -ms-transform: translateY(-50%) translateX(-30px);
      -o-transform: translateY(-50%) translateX(-30px);
      transform: translateY(-50%) translateX(-30px); }
      .freeangola header .menu:before {
        position: relative;
        top: -2px;
        left: -12px; }
      .freeangola header .menu:hover {
        color: #F7A438; }
  .freeangola .main-poster {
    width: 100%;
    height: 486px;
    position: relative;
    z-index: 1;
    overflow: hidden; }
    .freeangola .main-poster img {
      position: absolute;
      margin: auto;
      width: auto;
      height: 100%;
      left: -100%;
      right: -100%; }
  .freeangola .player-controllers {
    width: 100%;
    height: 300px;
    background: #C32F27;
    position: relative;
    z-index: 99;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
    .freeangola .player-controllers:before, .freeangola .player-controllers:after {
      content: " ";
      height: 2px;
      width: 100%;
      background: #000;
      position: absolute;
      top: 0;
      left: 0; }
    .freeangola .player-controllers:after {
      top: auto;
      bottom: 0; }
    .freeangola .player-controllers .valign {
      width: 100%;
      top: calc(50% - 10px);
      left: 50%;
      position: absolute;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -khtml-transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
    .freeangola .player-controllers .song-title {
      font-size: 20px;
      line-height: 20px;
      margin: 20px 0;
      color: #F7A438;
      text-align: center;
      font-size: 24px;
      letter-spacing: 3px; }
    .freeangola .player-controllers .options {
      width: 254px;
      height: 120px;
      margin: 0 auto; }
      .freeangola .player-controllers .options > button {
        float: left;
        background: transparent; }
      .freeangola .player-controllers .options .play {
        border-radius: 50%;
        border: 3px solid #000;
        width: 108px;
        height: 108px;
        background-color: #F7A438;
        position: relative;
        text-indent: 0;
        top: 50%;
        margin: 0 25px 0 30px;
        -webkit-transform: translateY(-50%);
        -khtml-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
        .freeangola .player-controllers .options .play[data-status="playing"]:after {
          content: " ";
          background-image: url(../img/btn-play-filled.svg?201602191714);
          background-repeat: no-repeat;
          background-size: 56px;
          position: absolute;
          top: 50%;
          left: calc(50% + 5px);
          -webkit-transform: translateX(-50%) translateY(-50%);
          -khtml-transform: translateX(-50%) translateY(-50%);
          -moz-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          content: " ";
          width: 56px;
          height: 60px;
          display: block;
          color: #000; }
      .freeangola .player-controllers .options .previous, .freeangola .player-controllers .options .next {
        width: 42px;
        height: 30px;
        display: block;
        text-indent: -9999px;
        background-position: center center;
        background-size: contain;
        background-image: url(../img/btn-previous.svg?2016021916146);
        background-repeat: no-repeat;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -khtml-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
      .freeangola .player-controllers .options .next {
        background-image: url(../img/btn-right.svg?2016021916146); }
