/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icons/icomoon.eot?n1siqs");
  src: url("../fonts/icons/icomoon.eot?n1siqs#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?n1siqs") format("truetype"), url("../fonts/icons/icomoon.woff?n1siqs") format("woff"), url("../fonts/icons/icomoon.svg?n1siqs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*
.icon-pause-button:before {
    content: "\e905";
}

.icon-stop-button:before {
    content: "\e900";
}

.icon-btn-play-filled:before {
    content: "\e904";
}

.icon-heartShape:before {
    content: "\e901";
}

.icon-Menubutton:before {
    content: "\e902";
}

.icon-playBtn:before {
    content: "\e903";
}
*/
.icon-heart-with-social-media-facebook-logo:before {
  content: "\e904"; }

.icon-playBtnFilled:before {
  content: "\e903"; }

.icon-heartShape:before {
  content: "\e900"; }

.icon-Menubutton:before {
  content: "\e901"; }

.icon-playBtn:before {
  content: "\e902"; }

html,
body,
.freeangola {
  width: 100%;
  height: 100%; }

textarea:focus,
input:focus {
  outline: none; }

*:focus {
  outline: none; }

button {
  border: none;
  -webkit-transition: all 0.2s;
  -khtml-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.freeangola {
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif; }
  .freeangola .main-content {
    overflow: hidden;
    -webkit-transform: translateX(0%);
    -khtml-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  .freeangola .sidebar {
    background-color: #C32F27;
    height: 100vh;
    width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    -webkit-transform: translateX(100%);
    -khtml-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    /*
		&:before {
			content: " ";
			width: 2px;
			height: 100%;
			background-color: #000;
			position: absolute;
			top: 0;
			left: 0px;
			box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.4);
		}
		*/ }
    .freeangola .sidebar .txt-content {
      width: auto;
      margin: 25px;
      margin-bottom: 100px; }
      .freeangola .sidebar .txt-content h3,
      .freeangola .sidebar .txt-content p {
        margin-bottom: 25px; }
      .freeangola .sidebar .txt-content h3 {
        line-height: 40px;
        font-size: 32px;
        letter-spacing: 2px; }
      .freeangola .sidebar .txt-content p {
        line-height: 28px;
        font-size: 18px;
        letter-spacing: 2px; }
  .freeangola.menu-open {
    overflow: hidden; }
    .freeangola.menu-open header .menu {
      -webkit-transform: rotate(90deg);
      -khtml-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    .freeangola.menu-open .main-content {
      -webkit-transform: translateX(-80%);
      -khtml-transform: translateX(-80%);
      -moz-transform: translateX(-80%);
      -ms-transform: translateX(-80%);
      -o-transform: translateX(-80%);
      transform: translateX(-80%); }
      .freeangola.menu-open .main-content:before {
        content: " ";
        width: 3px;
        height: 100%;
        background-color: #000;
        position: absolute;
        top: 0;
        right: -1px;
        z-index: 1000; }
    .freeangola.menu-open .sidebar {
      overflow-y: visible;
      -webkit-transform: translateX(0%);
      -khtml-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%); }
  .freeangola .main-content,
  .freeangola .sidebar {
    -webkit-transition: transform 0.3s;
    -khtml-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s; }
  .freeangola header {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #000;
    /* Bar: */
    background: #C32F27;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 100; }
    .freeangola header h1 {
      padding-left: 80px;
      text-align: left;
      line-height: 60px;
      color: #F7A438;
      letter-spacing: 2px;
      font-weight: bold; }
    .freeangola header .logo {
      text-indent: -9999px;
      width: 35px;
      height: 35px;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border: 1px solid #000;
      border-radius: 50%;
      background-image: url(../img/logo-peace-dove.svg?201602201217);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      -webkit-transform: translateY(-50%) translateX(25px);
      -khtml-transform: translateY(-50%) translateX(25px);
      -moz-transform: translateY(-50%) translateX(25px);
      -ms-transform: translateY(-50%) translateX(25px);
      -o-transform: translateY(-50%) translateX(25px);
      transform: translateY(-50%) translateX(25px); }
    .freeangola header .menu {
      overflow: hidden;
      cursor: pointer;
      background: transparent;
      font-size: 42px;
      width: 39.2px;
      height: 30.8px;
      position: absolute;
      top: calc(50% - 15px);
      right: 25px;
      opacity: 1;
      -webkit-transition: transform 0.3s;
      -khtml-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -ms-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      background-image: url(../img/menu.svg?201602221603);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 40px;
      transform-origin: center; }
      .freeangola header .menu:hover {
        color: #F7A438; }
  .freeangola .main-poster {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #000; }
    .freeangola .main-poster img {
      position: absolute;
      margin: auto;
      width: auto;
      height: 100%;
      left: -100%;
      right: -100%; }
  .freeangola .player-controllers {
    width: 100%;
    height: 180px;
    background: #C32F27;
    position: relative;
    z-index: 99;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
    .freeangola .player-controllers:before, .freeangola .player-controllers:after {
      content: " ";
      height: 2px;
      width: 100%;
      background: #000;
      position: absolute;
      top: 0;
      left: 0; }
    .freeangola .player-controllers:after {
      top: auto;
      bottom: 0; }
    .freeangola .player-controllers .valign {
      width: 100%;
      top: calc(50% - 5px);
      left: 50%;
      position: absolute;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -khtml-transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
    .freeangola .player-controllers .song-title {
      font-size: 20px;
      line-height: 20px;
      margin: 10px 0;
      color: #F7A438;
      text-align: center;
      font-size: 14px;
      letter-spacing: 3px;
      display: block;
      height: 20px;
      min-width: 50px; }
      .freeangola .player-controllers .song-title .tracker {
        color: #780116;
        margin-right: 10px; }
    .freeangola .player-controllers .options {
      width: 215px;
      height: 100px;
      margin: 0 auto; }
      .freeangola .player-controllers .options > button {
        float: left;
        background: transparent; }
      .freeangola .player-controllers .options .play {
        border-radius: 50%;
        border: 3px solid #000;
        width: 75px;
        height: 75px;
        background-color: #F7A438;
        position: relative;
        text-indent: 0;
        top: 50%;
        margin: 0 25px 0 30px;
        -webkit-transform: translateY(-50%);
        -khtml-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
        .freeangola .player-controllers .options .play[data-status="pause"]:after, .freeangola .player-controllers .options .play[data-status="stop"]:after {
          content: " ";
          background-image: url(../img/btn-play-filled.svg?201602191714);
          background-repeat: no-repeat;
          position: absolute;
          top: 50%;
          left: calc(50% + 3px);
          -webkit-transform: translateX(-50%) translateY(-50%);
          -khtml-transform: translateX(-50%) translateY(-50%);
          -moz-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          content: " ";
          background-size: 33.6px;
          width: 33.6px;
          height: 36px;
          display: block;
          color: #000; }
        .freeangola .player-controllers .options .play[data-status="play"]:after {
          content: " ";
          background-image: url(../img/pause-button.svg?201602191714);
          background-repeat: no-repeat;
          position: absolute;
          top: 50%;
          left: calc(50% + 2px);
          -webkit-transform: translateX(-50%) translateY(-50%);
          -khtml-transform: translateX(-50%) translateY(-50%);
          -moz-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          content: " ";
          background-size: 30px;
          width: 33.6px;
          height: 36px;
          display: block;
          color: #000; }
      .freeangola .player-controllers .options .previous,
      .freeangola .player-controllers .options .next {
        width: 42px;
        height: 30px;
        display: block;
        text-indent: -9999px;
        background-position: center center;
        background-size: contain;
        background-image: url(../img/btn-previous.svg?2016021916146);
        background-repeat: no-repeat;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -khtml-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
      .freeangola .player-controllers .options .next {
        background-image: url(../img/btn-right.svg?2016021916146); }
  .freeangola .song-list {
    overflow: hidden; }
    .freeangola .song-list ul li {
      position: relative;
      height: 150px;
      background-color: #780116;
      cursor: pointer;
      -webkit-transition: background-color 0.2s;
      -khtml-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -ms-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      .freeangola .song-list ul li:nth-child(odd) {
        background-color: #C32F27; }
      .freeangola .song-list ul li.active, .freeangola .song-list ul li:hover {
        background-color: #F7A438; }
        .freeangola .song-list ul li.active .details, .freeangola .song-list ul li:hover .details {
          color: #C32F27; }
      .freeangola .song-list ul li .artist-poster,
      .freeangola .song-list ul li .col-r {
        pointer-events: none; }
      .freeangola .song-list ul li .wrp {
        max-width: 768px; }
    .freeangola .song-list .artist-poster {
      width: 150px;
      height: 150px;
      float: left;
      margin-right: 30px; }
      .freeangola .song-list .artist-poster img {
        width: 100%;
        height: 100%; }
    .freeangola .song-list .details {
      color: #F7A438;
      top: 50%;
      left: 180px;
      -webkit-transform: translateY(-50%);
      -khtml-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      overflow: hidden;
      position: absolute;
      width: calc(100% - 180px - 194px); }
      .freeangola .song-list .details p {
        letter-spacing: 2px;
        line-height: 24px;
        font-size: 18px;
        font-weight: lighter; }
      .freeangola .song-list .details h4 {
        letter-spacing: 4px;
        line-height: 33px;
        font-size: 24px;
        font-weight: bold; }
    .freeangola .song-list .options {
      position: absolute;
      top: 50%;
      right: 0;
      margin: 0 30px;
      -webkit-transform: translateY(-50%);
      -khtml-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    .freeangola .song-list .like,
    .freeangola .song-list .play {
      font-size: 60px;
      width: 75px;
      height: 75px;
      background-color: transparent; }
      .freeangola .song-list .like.active,
      .freeangola .song-list .play.active {
        color: #F7A438; }
    .freeangola .song-list .like {
      pointer-events: auto; }
      .freeangola .song-list .like:hover {
        color: #C32F27; }
    .freeangola .song-list .play {
      width: 65px;
      margin-left: 20px; }
  .freeangola .percentage-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .freeangola .percentage-bar span {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #F7A438;
      opacity: 0.5; }

form {
  width: auto;
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 100px; }
  form * {
    box-sizing: border-box; }
  form input {
    text-indent: 25px; }
    form input::-webkit-input-placeholder {
      color: #000; }
    form input:-moz-placeholder {
      color: #000; }
    form input::-moz-placeholder {
      color: #000; }
    form input:-ms-input-placeholder {
      color: #000; }
  form span {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 60px !important; }
    form span.title {
      border-radius: 5px;
      text-align: center !important;
      text-indent: 0 !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important; }
    form span.info {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important; }
  form .usr-text,
  form .file {
    width: 100%;
    height: 60px;
    margin-bottom: 25px; }
    form .usr-text input,
    form .usr-text span,
    form .file input,
    form .file span {
      float: left;
      display: block; }
    form .usr-text span,
    form .file span {
      width: 85px;
      height: 60px;
      text-indent: 25px;
      line-height: 60px;
      color: #F7A438;
      background: #000; }
    form .usr-text input,
    form .file input {
      width: calc(100% - 85px);
      height: 60px;
      line-height: 60px;
      background: #F7A438;
      color: #000;
      font-size: 16px;
      letter-spacing: 2px;
      text-align: left;
      border: 4px solid #000;
      overflow: hidden;
      border-radius: 5px;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important; }
    form .usr-text input[type="file"],
    form .file input[type="file"] {
      position: absolute;
      z-index: -9999;
      visibility: hidden; }
  form .submit button {
    line-height: normal;
    display: none;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    background: #000;
    border: 4px solid #000;
    text-align: center;
    color: #F7A438;
    background: #000;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px; }

@media only screen and (min-device-width: 1024px) {
  .freeangola main > .column {
    float: left;
    width: 100%; } }

@media only screen and (max-device-width: 480px) {
  .freeangola .col-r {
    transform: translateY(-50%);
    position: relative;
    top: 50%; }
  .freeangola .song-list .options {
    position: relative;
    top: auto;
    right: 2px;
    padding: 0;
    margin: 0;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
    .freeangola .song-list .options button {
      width: 37.5px;
      height: 30px;
      font-size: 30px;
      display: inline-block;
      padding: 0;
      margin-right: 5px; }
    .freeangola .song-list .options .play {
      margin-left: 0px; }
  .freeangola .song-list .details {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: auto;
    padding: 0;
    padding-right: 25px;
    margin: 0;
    margin-bottom: 10px;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
    .freeangola .song-list .details p {
      font-weight: normal;
      letter-spacing: 1.2px;
      line-height: 14.4px;
      font-size: 10.8px; }
    .freeangola .song-list .details h4 {
      letter-spacing: 2px;
      line-height: 16.5px;
      font-size: 12px; } }
