<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css">
    <meta property="og:url" content="http://freeangola.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Free Angola" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
</head>

<body>
    <!-- start: `freeangola` -->
    <div class="freeangola">
        <div class="main-content">
            <header>
                <span class="logo">logo</span>
                <h1>Free Angola</h1>
                <button class="menu"></button>
            </header>
            <main>
                <div class="column column-l">
                    <section class="main-poster">
                        <img src="img/temp/posterContainer.jpg?201602191636" alt="">
                    </section>
                    <!-- start: player controllers -->
                    <div class="player-controllers">
                        <div class="percentage-bar">
                            <span></span>
                        </div>
                        <div class="valign">
                            <div class="options">
                                <button class="previous">previous</button>
                                <button class="play" data-status="stop"></button>
                                <button class="next">next</button>
                            </div>
                            <div class="song-title">
                                <span class="tracker"></span>
                                <span class="txt"></span>
                            </div>
                        </div>
                    </div>
                    <!-- end: player controllers -->
                </div>
                <div class="column column-r">
                    <section class="song-list"></section>
                </div>
            </main>
        </div>
        <div class="sidebar">
            <button class="mobile-close-btn"></button>
            <div class="txt-content freeangola-article">
                <h3>Free Angola!</h3>
                <p>O Free Angola é um álbum aberto & livre disponível na internet, sob o contexto da liberdade de expressão e os direitos humanos em Angola. A plataforma serve como meio para artistas partilharem a sua musica dinamicamente, contribuindo para um álbum que não tem inicio nem fim, ou limites, mas com a finalidade do poder da partilha social pelos ouvintes ao mundo. </p>
                <p>O álbum é livre e aberto a qualquer participante, que em nome próprio, banda ou anonimamente deixa um testemunho musical ou qualquer outra forma de manifestação áudio-artística. A aplicação permite que qualquer pessoa participe momentáneamente, como também a ouvintes ou visitantes acessá-lo a qualquer altura. O Álbum aberto pode ser partilhado no facebook, descarregado ou partilhado por email.</p>
                <p>Esta plataforma é apenas uma ferramenta, esperando que a tua criatividade, contribuição, possa levar a passar a mensagem sobre a realidade, o testemunho, a denúncia, desejos, sonhos e acontecimentos em Angola.</p>
                <div class="share-btns">
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
            </div>
            <div class="wrp">
                <div class="txt-content note">
                    <p>Preenche o formulário abaixo para participar; O título da musica e o ficheiro audio/mp3 são campos obrigatórios. Obrigado!</p>
                </div>
                <div class="form-wrp">
                    <form name="newAudioTrack" id="the-form" action="" enctype="multipart/form-data">
                        <div class="usr-text">
                            <span class="title">Nome</span>
                            <input name="artist" type="text" placeholder="Artista...">
                        </div>
                        <div class="usr-text">
                            <span class="title">Título</span>
                            <input name="song_title" type="text" placeholder="título...">
                        </div>
                        <div class="file audio">
                            <input name="audio" type="file">
                            <span class="title">Mp3</span>
                            <input name="song-title" type="text" placeholder="Ficheiro audio...">
                        </div>
                        <div class="file poster">
                            <input name="poster" type="file">
                            <span class="title">Poster</span>
                            <input name="song-title" type="text" placeholder="Ficheiro image...">
                        </div>
                        <div class="usr-terms">
                            <label>
                                <input type="checkbox" name="terms_and_conditions" value="terms_and_conditions">
                                <span>Aceito os <a href="">termos e condicões</a> de utilizacão</span>
                            </label>
                        </div>
                        <div class="submit">
                            <button name="submit" type="submit">Enviar</button>
                        </div>
                    </form>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <div class="upload-success-message">
                        <h5>Os dados foram enviados com sucesso!</h5>
                        <p>Encontra-se em processamento e estará disponível para breve.</p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
        </footer>
    </div>
    <!-- end: `freeangola` -->
    <!-- start: templates -->
    <script type="text/template" id="tmpl-song-list-item" class="template">
        <ul class="ul-song-list">
            <% _.forEach(tracks, function(track) { %>
                <li class="row">
                    <div class="sg song-data" data-toggle="on">
                        <div class="artist-poster">
                            <img src="<%- track.poster %>" alt="<%- track.title %> - <%- track.title %>">
                        </div>
                        <div class="col-r">
                            <div class="details">
                                <p>
                                    <%- track.title %>
                                </p>
                                <h4><%- track.artist %></h4>
                            </div>
                            <div class="options">
                                <button class="three-dots"></button>
                            </div>
                        </div>
                    </div>
                    <div class="sg song-opts" data-toggle="off">
                        <div class="col-r">
                            <div class="details">
                                <p>Ajuda a divulgar, partilha!</p>
                                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
                            </div>
                            <div class="options">
                                <button class="close collapse"></button>
                            </div>
                        </div>
                    </div>
                </li>
                <% }); %>
        </ul>
    </script>
    <!-- end: templates -->
    <!-- start: scripts -->
    <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
    <script src="bower_components/gsap/src/minified/TweenLite.min.js"></script>
    <script src="bower_components/gsap/src/minified/TimelineLite.min.js"></script>
    <script src="bower_components/gsap/src/minified/plugins/CSSPlugin.min.js"></script>
    <script src="bower_components/gsap/src/minified/easing/EasePack.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/pubsub.js/src/pubsub.js"></script>
    <script src="bower_components/soundcloud-audio/dist/soundcloud-audio.min.js"></script>
    <script src="js/helpers.js"></script>
    <script src="js/app.js"></script>
    <!-- end: scripts -->
    <div id="fb-root"></div>
</body>

</html>
