<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <!-- start: `freeangola` -->
    <div class="freeangola">
        <div class="main-content">
            <header>
                <span class="logo">logo</span>
                <h1>Free Angola</h1>
                <button class="menu"></button>
            </header>
            <main>
                <div class="column column-l">
                    <section class="main-poster">
                        <img src="img/temp/posterContainer.jpg?201602191636" alt="">
                    </section>
                    <!-- start: player controllers -->
                    <div class="player-controllers">
                        <div class="percentage-bar">
                            <span></span>
                        </div>
                        <div class="valign">
                            <div class="options">
                                <button class="previous">previous</button>
                                <button class="play" data-status="stop"></button>
                                <button class="next">next</button>
                            </div>
                            <div class="song-title">
                                <span class="tracker"></span>
                                <span class="txt"></span>
                            </div>
                        </div>
                    </div>
                    <!-- end: player controllers -->
                </div>
                <div class="column column-r">
                    <section class="song-list"></section>
                </div>
            </main>
        </div>
        <div class="sidebar">
            <div class="txt-content">
                <h3>Free Angola!</h3>
                <p>O Free Angola e um album aberto e livre disponivel na internet sob o contexto da liberdade em Angola. A plataforma permite a artistas musicais e nao so, deixar uma participacao musical ou a sua participacao audio.</p>
                <p>O album e livre e aberto a qualquer participante, seja em seu nome proprio, banda ou de forma anonima: deixando um testemunho musical ou qualquer outra forma de apelo audio & artistico. A aplicacao permite que qualquer pessoa participe a um qualquer momento, como tambem aos ouvintes ou visitantes acessar esta a qualquer altura. O Album aberto pode ser partilhado no facebook, descarregado ou partilhado por email.</p>
                <p>A plataforma e apenas uma ferramente, esperando entao que a criatividade das pessoas possa levar a passar a mensagem sobre a liberdade em Angola.</p>
            </div>
            <div class="txt-content note">
                <p>Preenche o formulario abaixo para participar; O titulo da musica e o ficheiro audio/mp3 sao campos obrigatorios. Obrigado!</p>
            </div>
            <form name="newAudioTrack" id="the-form" action="" enctype="multipart/form-data">
                <div class="usr-text">
                    <span class="title">Nome</span>
                    <input name="artist" type="text" placeholder="Artista...">
                </div>
                <div class="usr-text">
                    <span class="title">Titulo</span>
                    <input name="song_title" type="text" placeholder="Titulo...">
                </div>
                <div class="file audio">
                    <input name="audio" type="file">
                    <span class="title">Mp3</span>
                    <input name="song-title" type="text" placeholder="Ficheiro audio...">
                </div>
                <div class="file poster">
                    <input name="poster" type="file">
                    <span class="title">Poster</span>
                    <input name="song-title" type="text" placeholder="Ficheiro image...">
                </div>
                <div class="usr-terms">
                    <label>
                        <input type="checkbox" name="terms_and_conditions" value="terms_and_conditions">
                        <span>Aceito os <a href="">termos e condicoes</a> de utilizacao</span>
                    </label>
                </div>
                <div class="submit">
                    <button name="submit" type="submit">Enviar</button>
                </div>
            </form>
        </div>
        <footer>
        </footer>
    </div>
    <!-- end: `freeangola` -->
    <!-- start: templates -->
    <script type="text/template" id="tmpl-song-list-item" class="template">
        <ul>
            <% _.forEach(tracks, function(track) { %>
                <li>
                    <div class="artist-poster">
                        <img src="<%- track.poster %>" alt="<%- track.title %> - <%- track.title %>">
                    </div>
                    <div class="col-r">
                        <div class="details">
                            <p>
                                <%- track.title %>
                            </p>
                            <h4><%- track.artist %></h4>
                        </div>
                        <div class="options">
                            <button class="like icon-heart-with-social-media-facebook-logo"></button>
                        </div>
                    </div>
                </li>
                <% }); %>
        </ul>
    </script>
    <!-- end: templates -->
    <!-- start: scripts -->
    <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
    <script src="bower_components/gsap/src/minified/TweenLite.min.js"></script>
    <script src="bower_components/gsap/src/minified/TimelineLite.min.js"></script>
    <script src="bower_components/gsap/src/minified/plugins/CSSPlugin.min.js"></script>
    <script src="bower_components/gsap/src/minified/easing/EasePack.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/pubsub.js/src/pubsub.js"></script>
    <script src="bower_components/soundcloud-audio/dist/soundcloud-audio.min.js"></script>
    <script src="js/app.js"></script>
    <!-- end: scripts -->
</body>

</html>
