/* Coolors Exported Palette - coolors.co/250902-38040e-640d14-800e13-ad2831 */

$color1: #250902; //rgba(37, 9, 2, 100)
$color2: #38040e; //rgba(56, 4, 14, 100)
$color3: #640d14; //rgba(100, 13, 20, 100)
$color4: #800e13; //rgba(128, 14, 19, 100)
$color5: #ad2831; //rgba(173, 40, 49, 100)