/* Coolors Exported Palette - coolors.co/780116-f7b538-db7c26-d8572a-c32f27 */

$color1: #780116; //rgba(120, 1, 22, 100)
$color2: #f7b538; //rgba(247, 181, 56, 100)
$color3: #db7c26; //rgba(219, 124, 38, 100)
$color4: #d8572a; //rgba(216, 87, 42, 100)
$color5: #c32f27; //rgba(195, 47, 39, 100)